@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap');

/* remove default setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style game container */
body {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#dcf1eb;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding: 1rem;
}

.game-container {
    position: relative;
    width: 35rem;
    height: 32rem;
    background: #dcf1eb;
    border-radius: 2rem;
    box-shadow: -1rem -1rem 1.5rem rgba(255, 255, 255, 0.9),8px 8px 25px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    
}

/*  sections in game container */

#game-panel {
    width: 100%;
    height: 80%;
}

/*  sections of questions */

.question {
    width: 85%;
    height: 4rem;
    text-align: center;
    margin: auto;
    font-size: .9rem;
    text-align: justify;
}

/*  sections of the ball and Violet */
.g-image {
    width: 100%;
    height: 5rem;
    text-align: center;
    margin: 0.5rem 0;
}

.image {
    width: 5rem;
    height: 5rem;
}

.ball {
    max-width: 2rem;
    animation: ball 3s linear infinite;
}

.violet {
    max-width: 5.5rem;
    animation: violet 3s linear infinite;
}

/*  sections of answers */
.answer-notice {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

p.corret {
    color: #2d8e5e;
    font-weight: bold;
    font-size: 16px;
}

p.wrong {
    color: #f30d39;
    font-weight: bold;
    font-size: 16px;
}

.answer-styling ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    gap: 1rem;
    width: 80%;
    margin: auto;
}

  img.answer-image {
    width: 4rem;
    height: 4rem;
}

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.start-btn, .next-btn {
    font-size: 0.5rem;
    font-weight: bold;
    padding: 5px 10px;
    margin: .5rem;
}

.hide {
    display: none;
}

/* link to make purchase and share this game */

.social-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    text-align: center;
}

li {
    list-style: none;
}